*.zip
*.pyc
*.txt
*.json
*.7z
*.mp4
*.pdf
*.svg
*.png
*.gif
*.gv
*.tflite

images/no/*.jpg
images/*.jpg

.idea/*
NEAT/visualize.py

MapExtractor/*

RL_Models/sac_neo_rb.pkl

vgamepadtest.py
GPS*.py
Test.py
NEAT_Driver.py
TMEnv*.py
SAC*
